<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301212487171-58sll5a478jp5ni7lf5pdc30c96gi0rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301212487171-58sll5a478jp5ni7lf5pdc30c96gi0rk</string>
	<key>API_KEY</key>
	<string>AIzaSyA0lIN60AeShLLA4cmltJA2fvQ7HHP2NaM</string>
	<key>GCM_SENDER_ID</key>
	<string>301212487171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.umdMatch</string>
	<key>PROJECT_ID</key>
	<string>umd-match</string>
	<key>STORAGE_BUCKET</key>
	<string>umd-match.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301212487171:ios:aa1ea638aa00d306840836</string>
</dict>
</plist>